@using eHesabim.Framework.Localization
@using eHesabim.Web.Portal.Engine
@model eHesabim.Web.Portal.Models.UserPasswordRecoveryWebModel
@{
    Layout = "../Shared/_LayoutLogin.cshtml";
}

<!-- Nested Row within Card Body -->
<div class="row">
    <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
    <div class="col-lg-6">
        <div class="p-5">
            <div class="text-center">
                <h1 class="h4 text-gray-900 mb-2">@Headers.PasswordRecovery</h1>
                <p class="mb-4">E-posta adresinizi girin, şifrenizi sıfırlamanız için size bir link gönderelim!</p>
            </div>

            @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "passwordRecoveryForm", @class = "user" })) {
                <div class="form-group">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control form-control-user", placeholder = Labels.Email })
                    @Html.ValidationMessageFor(m => m.Email)
                </div>


                if (!string.IsNullOrEmpty(Model.ErrorMessage)) {
                    <div id="errorDiv" class="card mb-2 border-left-danger">
                        <div class="card-body">
                            @Html.Raw(Model.ErrorMessage)
                        </div>
                    </div>
                }

                if (!string.IsNullOrEmpty(Model.SuccessMessage)) {
                    <div id="successDiv" class="card mb-2 border-left-success">
                        <div class="card-body">
                            @Html.Raw(Model.SuccessMessage)
                        </div>
                    </div>
                }

                <input type="submit" name="send" class="btn btn-primary btn-user btn-block" value="@Buttons.Send" />
            }

            <hr>
            <div class="text-center">
                <a href="@Url.RouteUrl(RouteNames.Register)" class="small">@Buttons.Register</a>
            </div>
            <div class="text-center">
                <a href="@Url.RouteUrl(RouteNames.Login)" class="small">Zaten bir hesabın mı var? Giriş!</a>
            </div>
        </div>
    </div>
</div>