@using eHesabim.Framework.Localization
@model eHesabim.Web.Portal.Models.UserPasswordChangeWebModel

@using (Ajax.BeginForm("_PasswordChange", "User", new { Model.Id },
 new AjaxOptions {
     HttpMethod = "POST",
     OnSuccess = "AjaxResult"
 }, new { @id = "passwordChangeForm" })) {
    <div>
        <div class="panel-body">

            <div class="form-group">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control", maxLength = 10, autocomplete = "off", placeholder = Labels.Password })
                @Html.ValidationMessageFor(m => m.Password)
            </div>

            <div class="form-group">
                @Html.PasswordFor(m => m.RePassword, new { @class = "form-control", maxLength = 10, autocomplete = "off", placeholder = Labels.RePassword })
                @Html.ValidationMessageFor(m => m.RePassword)
            </div>
            
            <div id="resultDiv"></div>

            <input type="submit" name="save" value="@Buttons.Save" class="btn btn-warning">
            <button type="button" onclick="closeModal('passwordChangeWindow');" class="btn btn-outline btn-warning">@Buttons.Close</button>

        </div>
    </div>
}