@using eHesabim.Framework.Localization
@using Kendo.Mvc.UI
@model eHesabim.Web.Portal.Models.BankCreditCardPeriodEditWebModel

@using (Ajax.BeginForm("_BankCreditCardPeriodEdit", "Bank", new { Model.Id },
 new AjaxOptions {
     HttpMethod = "POST",
     OnSuccess = "onBankCreditCardPeriodEditSuccess"
 }, new { @id = "bankCreditCardPeriodEditForm", @class = "form-horizontal" })) {
    <div>
        <div class="panel-body">

            <div class="form-group">
                <label class="col-sm-4">@Labels.BankCreditCard</label>
                <div class="col-sm-8">
                    @Html.DropDownListFor(m => m.BankCreditCardId, Model.BankCreditCardList, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.BankCreditCardId)
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-4">@Labels.StartDate</label>
                <div class="col-sm-8">
                    @Html.Kendo().DatePickerFor(m => m.StartDate).HtmlAttributes(new { type = "text" })
                    @Html.ValidationMessageFor(m => m.StartDate)
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-4">@Labels.EndDate</label>
                <div class="col-sm-8">
                    @Html.Kendo().DatePickerFor(m => m.EndDate).HtmlAttributes(new { type = "text" })
                    @Html.ValidationMessageFor(m => m.EndDate)
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-4">@Labels.PaymentDate</label>
                <div class="col-sm-8">
                    @Html.Kendo().DatePickerFor(m => m.PaymentDate).HtmlAttributes(new { type = "text" })
                    @Html.ValidationMessageFor(m => m.PaymentDate)
                </div>
            </div>
            
            <div class="form-group">
                <label class="col-sm-4">@Labels.SetExpensePeriod</label>
                <div class="col-sm-8">
                    @Html.CheckBoxFor(m => m.SetExpense)
                </div>
            </div>
            
            <div id="resultDiv"></div>

            <div class="form-group">
                <label class="col-sm-4">&nbsp;</label>
                <div class="col-sm-8">
                    <input type="submit" name="save" value="@Buttons.Save" class="btn btn-warning">
                    <button type="button" onclick="closeModal('bankCreditCardPeriodEditWindow');" class="btn btn-outline btn-warning">@Buttons.Close</button>
                </div>
            </div>
        </div>
    </div>
}

<style type="text/css">
    .field-validation-error::before {
        content: '' !important;
    }
</style>

<script type="text/javascript">
    var endDateErrorMsg = '@Html.Raw(Messages.EndDateMustBeAfterStartDate)';
    var paymentDateErrorMsg = '@Html.Raw(Messages.PaymentDateMustBeAfterEndDate)';

    $(document).ready(function () {
        ValidateForm("bankCreditCardPeriodEditForm");

        // Form submit handler
        $("#bankCreditCardPeriodEditForm").submit(function (e) {
            // Clear previous error states
            $("#EndDate, #PaymentDate").closest(".col-sm-8").find(".k-invalid").removeClass("k-invalid");
            $(".enddate-error, .paymentdate-error").remove();

            var validator = $("#bankCreditCardPeriodEditForm").validate();
            if (!validator.form()) {
                return false;
            }

            // Get Kendo DatePicker values
            var startDatePicker = $("#StartDate").data("kendoDatePicker");
            var endDatePicker = $("#EndDate").data("kendoDatePicker");
            var paymentDatePicker = $("#PaymentDate").data("kendoDatePicker");

            var startDate = startDatePicker ? startDatePicker.value() : null;
            var endDate = endDatePicker ? endDatePicker.value() : null;
            var paymentDate = paymentDatePicker ? paymentDatePicker.value() : null;

            var hasError = false;

            // EndDate > StartDate validation
            if (startDate && endDate && endDate <= startDate) {
                var $endDateInput = $("#EndDate").closest(".col-sm-8");
                $endDateInput.find(".k-datepicker").addClass("k-invalid");
                $endDateInput.append('<span class="field-validation-error enddate-error" style="display:block;"><span class="k-icon k-i-warning"></span> ' + endDateErrorMsg + '</span>');
                hasError = true;
            }

            // PaymentDate > EndDate validation
            if (endDate && paymentDate && paymentDate <= endDate) {
                var $paymentDateInput = $("#PaymentDate").closest(".col-sm-8");
                $paymentDateInput.find(".k-datepicker").addClass("k-invalid");
                $paymentDateInput.append('<span class="field-validation-error paymentdate-error" style="display:block;"><span class="k-icon k-i-warning"></span> ' + paymentDateErrorMsg + '</span>');
                hasError = true;
            }

            if (hasError) {
                e.preventDefault();
                return false;
            }
        });
    });

    function onBankCreditCardPeriodEditSuccess(data) {
        if (data.Success) {
            // Gridi refresh et
            $('#bankCreditCardPeriodGrid').data('kendoGrid').dataSource.read();
            // Pop-up ı kapat
            $("#bankCreditCardPeriodEditWindow").data("kendoWindow").close();
        } else {
            $('#resultDiv').html(data.Result);
        }
    }
</script>
