@using eHesabim.Framework.Localization
@using Kendo.Mvc.UI
@model eHesabim.Web.Portal.Models.BankCreditListWebModel

<div class="row">
    <div class="col-lg-12">
        &nbsp;
    </div>
</div>

<div class="panel panel-yellow">

    <div class="panel-heading">
        <h3 class="panel-title">
            <i class="fa fa-money fa-fw"></i> @Headers.BankCreditList
        </h3>
    </div>

    <div class="panel-body">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "bankCreditForm" })) {
            <div class="form-group">
                <label>@Html.Raw(Labels.Bank)</label>
                @Html.DropDownListFor(m => m.SearchBankId, Model.SearchBankList, new { @class = "form-control", placeholder = Labels.Bank })
            </div>
            
            <a href="#" id="form-search" class="UIButton btn btn-warning">@Buttons.Search</a>
            <a href="#" id="form-detail" class="btn btn-outline btn-warning">@Buttons.Add</a>
        }

        <hr />

        <div class="table-responsive col-xs-12">
            @(Html.Kendo().Grid(Model.Data)
                  .Name("bankCreditGrid")
                  .Columns(columns => {
                      columns.Bound(x => x.BankName).Title(Labels.Bank);
                      columns.Bound(x => x.CreditDateTime).Format("{0:dd.MM.yyyy}").Title(Labels.Date);
                      columns.Bound(x => x.Capital).Format("{0:N2}").HtmlAttributes(new { style = "text-align:right;" }).Title(Labels.Capital);
                      columns.Bound(x => x.Installment).Format("{0:N0}").HtmlAttributes(new { style = "text-align:right;" }).Title(Labels.Installment);
                      columns.Bound(x => x.MonthlyPayment).Format("{0:N2}").HtmlAttributes(new { style = "text-align:right;" }).Title(Labels.MonthlyPayment);
                      columns.Bound(x => x.RemainCapital).Format("{0:N2}").HtmlAttributes(new { style = "text-align:right;" }).Title(Labels.RemainCapital);
                      columns.Bound(x => x.RemainInstallment).Format("{0:N0}").HtmlAttributes(new { style = "text-align:right;" }).Title(Labels.RemainInstallment);
                      columns.Command(x => x.Custom(Buttons.Edit).Click("onBankCreditEditWindow")).Width(50).HtmlAttributes(new { cmd = "edit", style = "text-align:center;" });
                      columns.Command(x => x.Custom(Buttons.Delete).Click("onDeleteWindow")).Width(50).HtmlAttributes(new { cmd = "delete", style = "text-align:center;" });
                  })
                  .Pageable(p => p.Refresh(true).PreviousNext(true))
                  .Sortable()
                  .EnableCustomBinding(true)
                  .Events(events => events.DataBound("onGridDataBound"))
                  .DataSource(dataSource => dataSource
                                                .Ajax()
                                                .Model(m => m.Id(p => p.Id))
                                                .PageSize(20)
                                                .Total(Model.Total)
                                                .Read(read => read.Action("BankCreditList", "Bank").Data("GetSearchModel"))
                  )
            )
        </div>

    </div>
</div>

@{Html.Kendo().Window()
          .Name("bankCreditEditWindow")
          .Title(Headers.BankCreditEdit)
          .Draggable(true)
          .Modal(true)
          .Visible(false)
          .Render();
}

@Html.Partial("_DeleteWindow", Model.DeleteData)

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            DefaultButton("bankCreditForm", "form-search");

            $('#form-search').click(function () {
                FormSearch(GetSearchModel(true), "bankCreditGrid");
            });

            $('#form-detail').click(function () {
                var wnd = $("#bankCreditEditWindow").kendoWindow({
                    content: {
                        url: "/Bank/_BankCreditEdit"
                    }
                }).data("kendoWindow");

                wnd.wrapper.addClass("col-sm-8 col-xs-10 max-width-650");
                wnd.center();
                wnd.open();
            });
        });

        //SetLeftMenu("liBank");
        SetLeftMenu("liBankCredit");

        function onBankCreditEditWindow(e) {
            e.preventDefault();
            var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
            openModal("bankCreditEditWindow", "/Bank/_BankCreditEdit", dataItem.Id, "md");
        }

        function GetSearchModel(searchViaForm) {
            return {
                SearchBankId: $('#SearchBankId').val(),
                SearchViaForm: searchViaForm == undefined ? false : searchViaForm
            };
        }
    </script>
}
