@using eHesabim.Framework.Localization
@using Kendo.Mvc.UI
@model eHesabim.Web.Portal.Models.BankAccountTransactionListWebModel

<div class="row">
    <div class="col-lg-12">
        &nbsp;
    </div>
</div>

<div class="panel panel-yellow">

    <div class="panel-heading">
        <h3 class="panel-title">
            <i class="fa fa-pagelines fa-fw"></i> @Headers.BankAccountTransactionList
        </h3>
    </div>

    <div class="panel-body">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "bankAccountTransactionForm", @class = "form-horizontal" })) {
            <div class="form-group">
                <label class="col-sm-2">@Html.Raw(Labels.BankAccount)</label>
                <div class="col-sm-10">
                    @Html.DropDownListFor(m => m.SearchBankAccountId, Model.SearchBankAccountList, new { @class = "form-control", placeholder = Labels.BankAccount })
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2">@Labels.Description</label>
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.SearchName, new { @class = "form-control", placeholder = Labels.Description })
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2">@Html.Raw(Labels.StartDate)</label>
                <div class="col-sm-10">
                    @Html.Kendo().DatePickerFor(m => m.SearchStartDate).HtmlAttributes(new { type = "text" })
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2">@Html.Raw(Labels.EndDate)</label>
                <div class="col-sm-10">
                    @Html.Kendo().DatePickerFor(m => m.SearchEndDate).HtmlAttributes(new { type = "text" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-2">&nbsp;</div>
                <div class="col-sm-10">
                    <a href="#" id="form-search" class="UIButton btn btn-warning">@Buttons.Search</a>
                    <a href="#" id="form-detail" class="btn btn-outline btn-warning">@Buttons.Add</a>
                </div>
            </div>
        }

        <hr />

        <div class="table-responsive">
            @(Html.Kendo().Grid(Model.Data)
                  .Name("bankAccountTransactionGrid")
                  .Columns(columns => {
                      columns.Bound(x => x.BankAccountName).Title(Labels.BankAccount);
                      columns.Bound(x => x.TrnDateTime).Format("{0:dd.MM.yyyy}").Title(Labels.Date);
                      columns.Bound(x => x.Name).Title(Labels.Description);
                      columns.Bound(x => x.Debit).Format("{0:N2}").HtmlAttributes(new { style = "text-align:right;" }).Title(Labels.Debit);
                      columns.Bound(x => x.Claim).Format("{0:N2}").HtmlAttributes(new { style = "text-align:right;" }).Title(Labels.Claim);
                      columns.Command(x => x.Custom(Buttons.Edit).Click("onBankAccountTransactionEditWindow")).HtmlAttributes(new { cmd = "edit", style = "text-align:center;" });
                      columns.Command(x => x.Custom(Buttons.Delete).Click("onDeleteWindow")).HtmlAttributes(new { cmd = "delete", style = "text-align:center;" });
                  })
                  .Pageable(p => p.Refresh(true).PreviousNext(true))
                  .Sortable()
                  .EnableCustomBinding(true)
                  .Events(events => events.DataBound("onDataBound"))
                  .DataSource(dataSource => dataSource
                    .Ajax()
                    .Model(model => model.Id(p => p.Id))
                    .PageSize(20)
                    .Total(Model.Total)
                    .Read(read => read.Action("BankAccountTransactionList", "BankAccount").Data("GetSearchModel"))
                  )
            )
        </div>

        <hr />

        <!-- Alt Toplamlar -->
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <tr>
                    <th class="col-xs-4">
                        <label>@Labels.DebitTotal</label>
                    </th>
                    <td class="col-xs-8">
                        <div class="input-group">
                            <input type="text" id="debitTotal" class="form-control" style="text-align: right;" readonly="readonly" />
                            <span class="input-group-addon">TL</span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>
                        <label>@Labels.ClaimTotal</label>
                    </th>
                    <td>
                        <div class="input-group">
                            <input type="text" id="claimTotal" class="form-control" style="text-align: right;" readonly="readonly" />
                            <span class="input-group-addon">TL</span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>
                        <label>@Labels.NetTotal</label>
                    </th>
                    <td>
                        <div class="input-group">
                            <input type="text" id="netTotal" class="form-control" style="text-align: right;" readonly="readonly" />
                            <span class="input-group-addon">TL</span>
                        </div>
                    </td>
                </tr>
            </table>
        </div>

    </div>
</div>

@{Html.Kendo().Window()
          .Name("bankAccountTransactionEditWindow")
          .Title(Headers.BankAccountTransactionEdit)
          .Draggable(true)
          .Modal(true)
          .Visible(false)
          .Render();
}

@Html.Partial("_DeleteWindow", Model.DeleteData)

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            DefaultButton("bankAccountTransactionForm", "form-search");

            $('#form-search').click(function () {
                FormSearch(GetSearchModel(true), "bankAccountTransactionGrid");
            });

            $('#form-detail').click(function () {
                var wnd = $("#bankAccountTransactionEditWindow").kendoWindow({
                    content: {
                        url: "/BankAccount/_BankAccountTransactionEdit",
                        data: { bankAccountId: '' + $('#SearchBankAccountId').val() + '' }
                    }
                }).data("kendoWindow");

                wnd.wrapper.addClass("col-sm-8 col-xs-10 max-width-650");
                wnd.center();
                wnd.open();
            });
        });

        //SetLeftMenu("liBank");
        SetLeftMenu("liBankAccount");

        function onBankAccountTransactionEditWindow(e) {
            e.preventDefault();
            var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
            openModal("bankAccountTransactionEditWindow", "/BankAccount/_BankAccountTransactionEdit", dataItem.Id, "md");
        }

        function GetSearchModel(searchViaForm) {
            return {
                SearchBankAccountId: $('#SearchBankAccountId').val(),
                SearchName: $('#SearchName').val(),
                SearchStartDate: $('#SearchStartDate').val(),
                SearchEndDate: $('#SearchEndDate').val(),
                SearchViaForm: searchViaForm == undefined ? false : searchViaForm
            };
        }

        function onDataBound(e) {
            if (e.sender._data[0] !== undefined) {
                var debitTotal = e.sender._data[0].DebitTotal;
                var claimTotal = e.sender._data[0].ClaimTotal;
                var netTotal = e.sender._data[0].NetTotal;

                $('#debitTotal').val(debitTotal);
                $('#claimTotal').val(claimTotal);
                $('#netTotal').val(netTotal);
            } else {
                $('#debitTotal').val("0,00");
                $('#claimTotal').val("0,00");
                $('#netTotal').val("0,00");
            }

            onGridDataBound();
        }
    </script>
}
