@using eHesabim.Framework.Localization
@model eHesabim.Web.Portal.Models.BankAccountEditWebModel

@using (Ajax.BeginForm("_BankAccountEdit", "BankAccount", new { Model.Id },
 new AjaxOptions {
     HttpMethod = "POST",
     OnSuccess = "onBankAccountEditSuccess"
 }, new { @id = "bankAccountEditForm", @class = "form-horizontal" })) {
    <div>
        <div class="panel-body">
            <div class="form-group">
                <label class="col-sm-3">@Labels.AccountType</label>
                <div class="col-sm-9">
                    @Html.DropDownListFor(m => m.TypeId, Model.TypeList, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.TypeId)
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3">@Labels.AccountName</label>
                <div class="col-sm-9">
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = Labels.AccountName, maxLength = 100 })
                    @Html.ValidationMessageFor(m => m.Name)
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3">@Labels.Bank</label>
                <div class="col-sm-9">
                    @Html.DropDownListFor(m => m.BankId, Model.BankList, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.BankId)
                </div>
            </div>
            
            <div class="form-group">
                <label class="col-sm-3">@Labels.Iban</label>
                <div class="col-sm-9">
                    @Html.TextBoxFor(m => m.Iban, new { @class = "form-control", placeholder = Labels.Iban, maxLength = 50 })
                    @Html.ValidationMessageFor(m => m.Iban)
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3">@Labels.AccountLimit</label>
                <div class="col-sm-9">
                    <div class="input-group">
                        @Html.TextBoxFor(m => m.Limit, new { @class = "form-control", placeholder = Labels.AccountLimit, maxLength = 15, onkeypress = "return OnlyNumberChars(event);", autocomplete = "off" })
                        <span class="input-group-addon">TL</span>
                    </div>
                    <div>@Html.ValidationMessageFor(m => m.Limit)</div>
                </div>
            </div>
            
            <div class="form-group">
                <label class="col-sm-3">@Labels.IsActive</label>
                <div class="col-sm-9">
                    @Html.CheckBoxFor(m => m.IsActive)
                </div>
            </div>

            <div id="resultDiv"></div>

            <div class="form-group">
                <label class="col-sm-3">&nbsp;</label>
                <div class="col-sm-9">
                    <input type="submit" name="save" value="@Buttons.Save" class="btn btn-warning">
                    <button type="button" onclick="closeModal('bankAccountEditWindow');" class="btn btn-outline btn-warning">@Buttons.Close</button>
                </div>
            </div>

        </div>

    </div>
}

<script type="text/javascript">
    $(document).ready(function () {
        ValidateForm("bankAccountEditForm");
    });

    function onBankAccountEditSuccess(data) {
        if (data.Success) {
            // Gridi refresh et
            $('#bankAccountGrid').data('kendoGrid').dataSource.read();
            // Pop-up ı kapat
            $("#bankAccountEditWindow").data("kendoWindow").close();
        } else {
            $('#resultDiv').html(data.Result);
        }
    }
</script>


