@using eHesabim.Framework.Localization
@using eHesabim.Services
@using eHesabim.Web.Portal.Engine
@using Kendo.Mvc.UI

<nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="margin-bottom: 0">
    <!-- Header -->
    <div class="navbar-header">
        <a class="navbar-brand" href="@Url.RouteUrl(RouteNames.Home)">eHesabim.com</a>

        <a id="toggleSidebar" class="navbar-brand" href="#">
            <i class="fa fa-bars"></i>
        </a>
    </div>

    <!-- Pop Menu -->
    <ul class="nav navbar-top-links navbar-right">
        <!-- Customer Pop Menu -->
        @if (WorkContext.CurrentUser.ShowCustomer) {
            <li class="dropdown hidden-xs">
                <a class="dropdown-toggle text-warning" data-toggle="dropdown" href="#">
                    <i class="fa fa-th-large fa-fw"></i> <i class="fa fa-caret-down"></i> @Menus.Customer
                </a>
                <ul class="dropdown-menu">
                    <li><a href="@Url.RouteUrl(RouteNames.CustomerList)"><i class="fa fa-book fa-fw"></i> @Menus.Customers</a></li>
                    <li><a href="@Url.RouteUrl(RouteNames.CustomerTransactionList)"><i class="fa fa-edit fa-fw"></i> @Menus.CustomerTransactions</a></li>
                    <li><a href="@Url.RouteUrl(RouteNames.CustomerAbstract)"><i class="fa fa-bar-chart-o fa-fw"></i> @Menus.CustomerAbstract</a></li>
                </ul>
            </li>
        }

        <!-- Account Pop Menu -->
        @if (WorkContext.CurrentUser.ShowAccount) {
            <li class="dropdown hidden-xs">
                <a class="dropdown-toggle text-warning" data-toggle="dropdown" href="#">
                    <i class="fa fa-bookmark fa-fw"></i> <i class="fa fa-caret-down"></i> @Menus.BankAccounts
                </a>
                <ul class="dropdown-menu">
                    <li><a href="@Url.RouteUrl(RouteNames.BankAccountList)"><i class="fa fa-fire fa-fw"></i> @Menus.BankAccounts</a></li>
                    <li><a href="@Url.RouteUrl(RouteNames.BankAccountTransactionList)"><i class="fa fa-pagelines fa-fw"></i> @Menus.BankAccountTransactions</a></li>
                </ul>
            </li>
        }

        <!-- Credit Pop Menu -->
        @if (WorkContext.CurrentUser.ShowCredit) {
            <li class="dropdown hidden-xs">
                <a class="dropdown-toggle text-warning" data-toggle="dropdown" href="#">
                    <i class="fa fa-suitcase fa-fw"></i> <i class="fa fa-caret-down"></i> @Menus.BankCredits
                </a>
                <ul class="dropdown-menu">
                    <li><a href="@Url.RouteUrl(RouteNames.BankCreditList)"><i class="fa fa-money fa-fw"></i> @Menus.BankCredits</a></li>
                    <li><a href="@Url.RouteUrl(RouteNames.BankCreditSubList)"><i class="fa fa-support fa-fw"></i> @Menus.BankCreditSubs</a></li>
                </ul>
            </li>
        }

        <!-- CreditCard Pop Menu -->
        @if (WorkContext.CurrentUser.ShowCard) {
            <li class="dropdown hidden-xs">
                <a class="dropdown-toggle text-warning" data-toggle="dropdown" href="#">
                    <i class="fa fa-briefcase fa-fw"></i> <i class="fa fa-caret-down"></i> @Menus.BankCreditCards
                </a>
                <ul class="dropdown-menu">
                    <li><a href="@Url.RouteUrl(RouteNames.BankCreditCardList)"><i class="fa fa-credit-card fa-fw"></i> @Menus.BankCreditCards</a></li>
                    <li><a href="@Url.RouteUrl(RouteNames.BankCreditCardPeriodList)"><i class="fa fa-leaf fa-fw"></i> @Menus.BankCreditCardPeriods</a></li>
                    <li><a href="@Url.RouteUrl(RouteNames.BankCreditCardPaymentList)"><i class="fa fa-check fa-fw"></i> @Menus.BankCreditCardPayments</a></li>
                </ul>
            </li>
        }

        <!-- Expense Pop Menu -->
        @if (WorkContext.CurrentUser.ShowExpense) {
            <li class="dropdown hidden-xs">
                <a class="dropdown-toggle text-warning" data-toggle="dropdown" href="#">
                    <i class="fa fa-spinner fa-fw"></i> <i class="fa fa-caret-down"></i> @Menus.Expense
                </a>
                <ul class="dropdown-menu">
                    <li><a href="@Url.RouteUrl(RouteNames.ExpenseList)"><i class="fa fa-money fa-fw"></i> @Menus.Expenses</a></li>
                    <li><a href="@Url.RouteUrl(RouteNames.ExpenseGroupReport)"><i class="fa fa-stack-overflow fa-fw"></i> @Menus.ExpenseGroupReport</a></li>
                    <li><a href="@Url.RouteUrl(RouteNames.ExpenseGroupList)"><i class="fa fa-magnet fa-fw"></i> @Menus.ExpenseGroups</a></li>
                    <li><a href="@Url.RouteUrl(RouteNames.ExpenseStoreList)"><i class="fa fa-shopping-cart fa-fw"></i> @Menus.ExpenseStores</a></li>
                </ul>
            </li>
        }

        <!-- User Pop Menu -->
        <li class="dropdown">
            <a class="dropdown-toggle text-warning" data-toggle="dropdown" href="#">
                <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i> @WorkContext.CurrentUser.Name.Split(' ')[0]
            </a>
            <ul class="dropdown-menu">
                <li><a href="javascript:void(0);" onclick="OpenUpdateProfileWindow('@WorkContext.CurrentUser.Id');"><i class="fa fa-user fa-fw"></i> @Buttons.UpdateProfile</a></li>
                <li><a href="javascript:void(0);" onclick="OpenPasswordChangeWindow('@WorkContext.CurrentUser.Id');"><i class="fa fa-gear fa-fw"></i> @Buttons.ChangePassword</a></li>
                <li class="divider"></li>
                <li><a href="@Url.RouteUrl(RouteNames.Logout)"><i class="fa fa-sign-out fa-fw"></i> @Buttons.Logout</a></li>
            </ul>
        </li>
    </ul>


    <!-- Left Menu -->
    <div class="navbar-default navbar-static-side" role="navigation">
        <div id="sidebar-left" class="sidebar-collapse">
            <ul class="nav" id="side-menu">
                <li id="liHomepage">
                    <a class="text-warning" href="@Url.RouteUrl(RouteNames.Home)"><i class="fa fa-dashboard fa-fw"></i> @Menus.Homepage</a>
                </li>

                <li id="liCustomer">
                    <a class="text-warning" href="#"><i class="fa fa-th-large fa-fw"></i> @Menus.Customer<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li><a class="text-warning" href="@Url.RouteUrl(RouteNames.CustomerList)"><i class="fa fa-book fa-fw"></i> @Menus.Customers</a></li>
                        <li><a class="text-warning" href="@Url.RouteUrl(RouteNames.CustomerTransactionList)"><i class="fa fa-edit fa-fw"></i> @Menus.CustomerTransactions</a></li>
                        <li><a class="text-warning" href="@Url.RouteUrl(RouteNames.CustomerAbstract)"><i class="fa fa-bar-chart-o fa-fw"></i> @Menus.CustomerAbstract</a></li>
                    </ul>
                </li>

                <li id="liBankAccount">
                    <a class="text-warning" href="#"><i class="fa fa-bookmark fa-fw"></i> @Menus.BankAccounts<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li><a class="text-warning" href="@Url.RouteUrl(RouteNames.BankAccountList)"><i class="fa fa-fire fa-fw"></i> @Menus.BankAccounts</a></li>
                        <li><a class="text-warning" href="@Url.RouteUrl(RouteNames.BankAccountTransactionList)"><i class="fa fa-pagelines fa-fw"></i> @Menus.BankAccountTransactions</a></li>
                    </ul>
                </li>

                <li id="liBankCredit">
                    <a class="text-warning" href="#"><i class="fa fa-suitcase fa-fw"></i> @Menus.BankCredits<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li><a class="text-warning" href="@Url.RouteUrl(RouteNames.BankCreditList)"><i class="fa fa-money fa-fw"></i> @Menus.BankCredits</a></li>
                        <li><a class="text-warning" href="@Url.RouteUrl(RouteNames.BankCreditSubList)"><i class="fa fa-support fa-fw"></i> @Menus.BankCreditSubs</a></li>
                    </ul>
                </li>

                <li id="liBankCreditCard">
                    <a class="text-warning" href="#"><i class="fa fa-briefcase fa-fw"></i> @Menus.BankCreditCards<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li><a class="text-warning" href="@Url.RouteUrl(RouteNames.BankCreditCardList)"><i class="fa fa-credit-card fa-fw"></i> @Menus.BankCreditCards</a></li>
                        <li><a class="text-warning" href="@Url.RouteUrl(RouteNames.BankCreditCardPeriodList)"><i class="fa fa-leaf fa-fw"></i> @Menus.BankCreditCardPeriods</a></li>
                        <li><a class="text-warning" href="@Url.RouteUrl(RouteNames.BankCreditCardPaymentList)"><i class="fa fa-check fa-fw"></i> @Menus.BankCreditCardPayments</a></li>
                    </ul>
                </li>

                <li id="liExpense">
                    <a class="text-warning" href="#"><i class="fa fa-spinner fa-fw"></i> @Menus.Expense<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li><a class="text-warning" href="@Url.RouteUrl(RouteNames.ExpenseList)"><i class="fa fa-barcode fa-fw"></i> @Menus.Expenses</a></li>
                        <li><a class="text-warning" href="@Url.RouteUrl(RouteNames.ExpenseGroupReport)"><i class="fa fa-stack-overflow fa-fw"></i> @Menus.ExpenseGroupReport</a></li>
                        <li><a class="text-warning" href="@Url.RouteUrl(RouteNames.ExpenseGroupList)"><i class="fa fa-magnet fa-fw"></i> @Menus.ExpenseGroups</a></li>
                        <li><a class="text-warning" href="@Url.RouteUrl(RouteNames.ExpenseStoreList)"><i class="fa fa-shopping-cart fa-fw"></i> @Menus.ExpenseStores</a></li>
                    </ul>
                </li>

                @if (WorkContext.CurrentUser.Role == PermissionTypeEnum.Admin.GetHashCode()) {
                    <li id="liSystem">
                        <a class="text-warning" href="#"><i class="fa fa-wrench fa-fw"></i> @Menus.System<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li><a class="text-warning" href="@Url.RouteUrl(RouteNames.UserList)"><i class="fa fa-users fa-fw"></i> @Menus.Users</a></li>
                        </ul>
                    </li>
                }

            </ul>

        </div>
    </div>
</nav>

@{ Html.Kendo().Window().Name("updateProfileWindow").Title(Headers.UpdateProfile).Draggable(true).Modal(true).Visible(false).Render(); }
@{ Html.Kendo().Window().Name("passwordChangeWindow").Title(Headers.PasswordChange).Draggable(true).Modal(true).Visible(false).Render(); }

<script type="text/javascript">
    function OpenUpdateProfileWindow(userId) {
        var wnd = $("#updateProfileWindow").kendoWindow({
            content: {
                url: "/User/_UpdateProfile",
                data: { userId: '' + userId + '' }
            }
        }).data("kendoWindow");

        wnd.wrapper.addClass("col-sm-6 col-xs-10 max-width-400");
        wnd.center();
        wnd.open();
    }

    function OpenPasswordChangeWindow(userId) {
        var wnd = $("#passwordChangeWindow").kendoWindow({
            title: "Accounts",
            content: {
                url: "/User/_PasswordChange",
                data: { userId: '' + userId + '' }
            }
        }).data("kendoWindow");

        wnd.wrapper.addClass("col-sm-6 col-xs-10 max-width-400");
        wnd.center();
        wnd.open();
    }

    $(document).ready(function () {
        $("#toggleSidebar").on('click', function () {
            if ($('#sidebar-left').is(':visible')) {
                $('#sidebar-left').animate({ 'width': '0px' }, 'slow', function () {
                    $('#sidebar-left').hide();
                });
                $('#page-wrapper').animate({ 'margin-left': '0px' }, 'slow');
            }
            else {
                $('#sidebar-left').show();
                $('#sidebar-left').animate({ 'width': '250px' }, 'slow');
                $('#page-wrapper').animate({ 'margin-left': '250px' }, 'slow');
            }
        });
    });
</script>
