@using eHesabim.Framework.Localization
@using eHesabim.Web.Portal.Engine
@using Kendo.Mvc.UI

<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
    <!-- Sidebar Toggle (Topbar) -->
    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
        <i class="fa fa-bars"></i>
    </button>

    <!-- Topbar Navbar -->
    <ul class="navbar-nav ml-auto">

        @if (WorkContext.CurrentUser.ShowCustomer) {
            <!-- Nav Item - Customer -->
            <li class="nav-item dropdown no-arrow">
                <a class="nav-link dropdown-toggle" href="#" id="customerDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="mr-2 d-none d-lg-inline text-gray-600 small">
                        <i class="fa fa-th-large fa-fw"></i> <i class="fa fa-caret-down"></i> @Menus.Customer
                    </span>
                </a>
                <!-- Dropdown - Customer -->
                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="customerDropdown">
                    <a class="dropdown-item" href="@Url.RouteUrl(RouteNames.CustomerList)"><i class="fa fa-book fa-fw"></i> @Menus.Customers</a>
                    <a class="dropdown-item" href="@Url.RouteUrl(RouteNames.CustomerTransactionList)"><i class="fa fa-edit fa-fw"></i> @Menus.CustomerTransactions</a>
                    <a class="dropdown-item" href="@Url.RouteUrl(RouteNames.CustomerAbstract)"><i class="fa fa-chart-bar fa-fw"></i> @Menus.CustomerAbstract</a>
                </div>
            </li>
        }

        @if (WorkContext.CurrentUser.ShowAccount) {
            <!-- Nav Item - Account -->
            <li class="nav-item dropdown no-arrow">
                <a class="nav-link dropdown-toggle" href="#" id="accountDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="mr-2 d-none d-lg-inline text-gray-600 small">
                        <i class="fa fa-bookmark fa-fw"></i> <i class="fa fa-caret-down"></i> @Menus.BankAccounts
                    </span>
                </a>
                <!-- Dropdown - Account -->
                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="accountDropdown">
                    <a class="dropdown-item" href="@Url.RouteUrl(RouteNames.BankAccountList)"><i class="fa fa-fire fa-fw"></i> @Menus.BankAccounts</a>
                    <a class="dropdown-item" href="@Url.RouteUrl(RouteNames.BankAccountTransactionList)"><i class="fa fa-pager fa-fw"></i> @Menus.BankAccountTransactions</a>
                </div>
            </li>
        }

        @if (WorkContext.CurrentUser.ShowCredit) {
            <!-- Nav Item - Credit -->
            <li class="nav-item dropdown no-arrow">
                <a class="nav-link dropdown-toggle" href="#" id="creditDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="mr-2 d-none d-lg-inline text-gray-600 small">
                        <i class="fa fa-suitcase fa-fw"></i> <i class="fa fa-caret-down"></i> @Menus.BankCredits
                    </span>
                </a>
                <!-- Dropdown - Credit -->
                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="creditDropdown">
                    <a class="dropdown-item" href="@Url.RouteUrl(RouteNames.BankCreditList)"><i class="fa fa-money-bill fa-fw"></i> @Menus.BankCredits</a>
                    <a class="dropdown-item" href="@Url.RouteUrl(RouteNames.BankCreditSubList)"><i class="fa fa-life-ring fa-fw"></i> @Menus.BankCreditSubs</a>
                </div>
            </li>
        }

        @if (WorkContext.CurrentUser.ShowCard) {
            <!-- Nav Item - CreditCard -->
            <li class="nav-item dropdown no-arrow">
                <a class="nav-link dropdown-toggle" href="#" id="creditCardDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="mr-2 d-none d-lg-inline text-gray-600 small">
                        <i class="fa fa-briefcase fa-fw"></i> <i class="fa fa-caret-down"></i> @Menus.BankCreditCards
                    </span>
                </a>
                <!-- Dropdown - CreditCard -->
                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="creditCardDropdown">
                    <a class="dropdown-item" href="@Url.RouteUrl(RouteNames.BankCreditCardList)"><i class="fa fa-credit-card fa-fw"></i> @Menus.BankCreditCards</a>
                    <a class="dropdown-item" href="@Url.RouteUrl(RouteNames.BankCreditCardPeriodList)"><i class="fa fa-leaf fa-fw"></i> @Menus.BankCreditCardPeriods</a>
                    <a class="dropdown-item" href="@Url.RouteUrl(RouteNames.BankCreditCardPaymentList)"><i class="fa fa-check fa-fw"></i> @Menus.BankCreditCardPayments</a>
                </div>
            </li>
        }

        @if (WorkContext.CurrentUser.ShowExpense) {
            <!-- Nav Item - Expense -->
            <li class="nav-item dropdown no-arrow">
                <a class="nav-link dropdown-toggle" href="#" id="expenseDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="mr-2 d-none d-lg-inline text-gray-600 small">
                        <i class="fa fa-spinner fa-fw"></i> <i class="fa fa-caret-down"></i> @Menus.Expense
                    </span>
                </a>
                <!-- Dropdown - Expense -->
                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="expenseDropdown">
                    <a class="dropdown-item" href="@Url.RouteUrl(RouteNames.ExpenseList)"><i class="fa fa-barcode fa-fw"></i> @Menus.Expenses</a>
                    <a class="dropdown-item" href="@Url.RouteUrl(RouteNames.ExpenseGroupReport)"><i class="fa fa-tty fa-fw"></i> @Menus.ExpenseGroupReport</a>
                    <a class="dropdown-item" href="@Url.RouteUrl(RouteNames.ExpenseGroupList)"><i class="fa fa-magnet fa-fw"></i> @Menus.ExpenseGroups</a>
                    <a class="dropdown-item" href="@Url.RouteUrl(RouteNames.ExpenseStoreList)"><i class="fa fa-shopping-cart fa-fw"></i> @Menus.ExpenseStores</a>
                </div>
            </li>
        }

        <!-- Nav Item - User -->
        <li class="nav-item dropdown no-arrow">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small">
                    <i class="fas fa-user fa-fw"></i> <i class="fa fa-caret-down"></i> @WorkContext.CurrentUser.Name.Split(' ')[0]
                </span>
            </a>
            <!-- Dropdown - User -->
            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="javascript:void(0);" onclick="OpenUpdateProfileWindow('@WorkContext.CurrentUser.Id');">
                    <i class="fas fa-user fa-fw"></i> @Buttons.UpdateProfile
                </a>
                <a class="dropdown-item" href="javascript:void(0);" onclick="OpenPasswordChangeWindow('@WorkContext.CurrentUser.Id');">
                    <i class="fa fa-cog fa-fw"></i> @Buttons.ChangePassword
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="@Url.RouteUrl(RouteNames.Logout)">
                    <i class="fa fa-sign-out-alt fa-fw"></i> @Buttons.Logout
                </a>
            </div>
        </li>

    </ul>
</nav>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="login.html">Logout</a>
            </div>
        </div>
    </div>
</div>

@{ Html.Kendo().Window().Name("updateProfileWindow").Title(Headers.UpdateProfile).Draggable(true).Modal(true).Visible(false).Render(); }
@{ Html.Kendo().Window().Name("passwordChangeWindow").Title(Headers.PasswordChange).Draggable(true).Modal(true).Visible(false).Render(); }

<script type="text/javascript">
    function OpenUpdateProfileWindow(userId) {
        var wnd = $("#updateProfileWindow").kendoWindow({
            content: {
                url: "/User/_UpdateProfile",
                data: { userId: '' + userId + '' }
            }
        }).data("kendoWindow");

        wnd.wrapper.addClass("col-sm-6 col-xs-10 max-width-400");
        wnd.center();
        wnd.open();
    }

    function OpenPasswordChangeWindow(userId) {
        var wnd = $("#passwordChangeWindow").kendoWindow({
            title: "Accounts",
            content: {
                url: "/User/_PasswordChange",
                data: { userId: '' + userId + '' }
            }
        }).data("kendoWindow");

        wnd.wrapper.addClass("col-sm-6 col-xs-10 max-width-400");
        wnd.center();
        wnd.open();
    }
</script>